@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Fira Code', monospace;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #e2e8f0;
  overflow: hidden;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}